<div id="page-container">
<div id="content-wrap">
<nav>
    <div class="site-title">
        <a href="/"><img src="<%= static %>/imgs/logo_2.png" alt="D&amp;Designer"></a>
    </div>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        
        <% if (user === null) { %>
            <li>|</li>
            <li><a href="/user/login">Log-in</a></li>
            <li><a href="/user/register">Create Account</a></li>
        <% } else { %>
            <li><a href="/characters">My Characters</a></li>
            <li><a href="/characters/create">New Character</a></li>
            <li>|</li>
            <li><a href="/user/logout">Log-out</a></li>
        <% } %>
    </ul>
</nav>