<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <h1>About D&amp;Designer</h1>

    <h3>D&amp;Designer is a web app created by Micah Steinbock for EGR424A: Web Applications Development at the Gordon and Jill Bournes College of Engineering at California Baptist University.</h3>
    <h3>This app was created during the Spring 2021 semester as the final project for the class.</h3>

    <br><hr><br>

    <img src="<%= static %>/imgs/players_handbook.jpg" width="250px" class="float-right">
    <h3>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;D&amp;Designer is an online tool to assist in character creation for the widely popular Dungeons &amp; Dragons game.
        This tool currently supports the character options that are provided in the <i>Player's Handbook</i> for 5e (5th Edition) D&amp;D.
        Future releases and updates are planned to include the expanded options provided in the other books, such as <i>Xanathar's Guide to Everything</i>, <i>Mordenkainen's Tome of Foes</i>, etc.
        Possible expansions may also include custom-made Homebrew characters, classes, and abilities.
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Once you create an account, you will be able to create and save characters. You can have unlimited character sheets for free!
        All you have to do is create a free account and get to creating! This tool is made strictly for fun and no money is being made off of it.
        I do not own any of the D&amp;D content on this site and I have no affiliation with Wizards of the Coast.
    </h3>


    <%- include("./partials/footer.ejs") %>
</body>
</html>