<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <h1><%= title %></h1>

    <p>This is a test amount of text.<br>&nbsp;&nbsp;&nbsp;&nbsp;This is a paragraph break:
        <ul><li>Test #1</li><li>Test #2</li><li>Test#3</li></ul>
        This is a following paragraph.
    </p>

    <%- include("./partials/footer.ejs") %>
</body>
</html>