<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>

    <h1>Welcome to...</h1>
    <img src="<%= static %>/imgs/logo_2.png" id="homescreen_image">

    <br><hr><br>

    <p>The best place to create and manage your D&amp;D characters!</p>
    <br><br>
    <p><strong>Disclosure:</strong> I am no in no way affiliated with Wizards of the Coast and Dungeons and Dragons. This is a fan-made website for a school project.</p>
    <p><strong>Note from the Dev:</strong> This website is still a WIP and is an ongoing project! So hang tight!</p>

    <%- include("./partials/footer.ejs") %>
</body>
</html>