@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
    width: 90%;
    margin: auto;
    font-family: 'Noto Serif', serif;
    background-color: #222;
    color: #ddd;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 4.5em;
}

/* nav & footer styles */
nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}

nav .site-title a img {
    width: 300px;
    padding-top: 10px
}

nav ul, footer ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav li, footer li {
    list-style-type: none;
    margin-left: 20px;
}

nav h1, footer h1 {
    font-size: 3em;
}

nav p, nav a, footer p, footer a {
    color: #ddd;
    font-weight: 300;
    text-decoration: none;
}

nav p:hover, nav a:hover, footer p:hover, footer a:hover {
    color: #ca0000;
    text-decoration: underline;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #ddd;
    text-transform: uppercase;
}

p, a, ul{
    margin: 0;
    padding: 0;
}

h1 {
    text-transform: uppercase;
}

h2{
    margin-bottom: 40px;
}

h3{
    margin-bottom: 8px;
}

.float-right {
    float: right;
}

#login {
    width: 40%;
    margin: auto;
    text-align: center;
}   

#login form .text-input {
    width:40%;
    margin: 0px 8% 0px 2%;
    float: right;
}

#login form label {
    width: 40%;
    margin: 0px 2% 0px 8%;
    text-align: right;
    float: left;
}

#error {
    color: #ca0000;
}

.input_label {
    width: 100%;
    margin: atuo;
    text-align: center;
}

#character_name {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px 25px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #ddd;
    background-image: linear-gradient(30deg, #555, #333, #555);
}

#confirmations input {
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px 25px;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: #ddd;
    background-image: linear-gradient(30deg, #400000, #600000, #400000);
}

#confirmations #form-errors {
    display: block;
    width: 100%;
    margin: auto;
    color: #ca0000;
    text-align: center;
}

.race, .class, .background {
    margin: 50px 0px;
    padding: 0;
    background-image: linear-gradient(30deg, #400000, #600000, #400000);
    border: 2px solid #ddd;
}

.race h1, .class h1, .background h1 {
    text-align: center;
    width: 100%;
    margin: 0px;
    padding: 25px 0;
}

.race p, .class p, .background p {
    text-align: center;
    padding: 15px;
}

.race h2, .class h2, .background h2 {
    margin: 25px;
    text-decoration: underline;
}

.race h3, .class h3, .background h3 {
    padding-left: 50px;
}

.race h4, .class h4, .background h4 {
    padding-left: 75px;
}

.race ul, .class ul, .background ul, .Stats ul {
    padding-left: 75px;
}

.race ul li, .class ul li, .background ul li {
    padding: 5px 0px;
}

.race table, .class table, .background table {
    width: 80%;
    margin: auto;
    border: 3px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.race table tr, .race table th, .race table td,
    .class table tr, .class table th, .class table td,
    .background table tr, .background table th, .background table td {
    border: 1px solid #ddd;
    text-align: center;
}

.race table th, .class table th, .background table th {
    border: 3px solid #ddd;
    font-size: 120%;
}

.race .h1_button, .class .h1_button, .background .h1_button, #confirmations .h1_button,
    .Stats .h1_button {
    width: 60%;
    margin: auto;
    padding: 15px;
    background-image: radial-gradient(#600000, #ca0000);
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.race .h1_button:hover, .class .h1_button:hover, .background .h1_button:hover, #confirmations .h1_button:hover,
    .Stats .h1_button {
    background-image: radial-gradient(#ca0000, #e00000);
    text-decoration: underline;
}

.subrace h4 {
    margin: 0;
}

.subrace ul {
    padding-left: 120px;
}

.tabcontainer {
    width: 80%;
    margin: auto;
    border-color: 1px solid #ddd;
    background-image: radial-gradient(#600000, #850000);
}

.tab {
    width: 100%;
    display: flex;
    overflow: hidden;
    border: 1px solid #ddd;
    background-image: linear-gradient(30deg, #303030, #505050, #303030);
}

.tab button {
    flex: 1;
    background-color: inherit;
    border: 1px solid #ddd;
    color: #909090;
    font-weight: bold;
    font-size: 125%;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-image: linear-gradient(30deg, #400000, #600000);
    text-decoration: underline;
    color: #bbb;
}

.tab button.tablinks.activeTab {
    background-image: linear-gradient(30deg, #600000, #ca0000);
    color: #ddd;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ddd;
    border-top: none;
    animation: fadeEffect 1s;
}

.tabcontent p {
    text-align: left;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.class table td a {
    color: #ddd;
}

.class table td a:hover {
    color: #aaa;
}

#rolls_container {
    width: 80%;
    margin: auto;
    padding: 25px;
    background-image: linear-gradient(30deg, #333, #555);
    border: 1px solid #ddd;
    border-radius: 20px;
}

#rolls_container .rolls {
    margin: 50px 0;
}

#rolls_container .rolls div img {
    width: 80%;
}

#rolls_container .rolls div .disabled {
    width: 80%;
    opacity: 0.3;
}

#rolls_container .rolls h1 {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #ddd;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-image: linear-gradient(30deg, #222, #333, #222);
    border: 1px solid #ddd;
    color: #ddd;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: -5 px;
    left: 110%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.flex-parent {
    display: flex;
}

.flex-child {
    width: 50%;
    flex: 1;
}

.flex-child-2 {
    flex: 2;
}

.flex-child-3 {
    flex: 3;
}

.flex-child, .flex-child-2, .flex-child-3 {
    padding: 3px;
}

.hidden {
    display: none;
}

.character {
    width: 80%;
    margin: 50px auto;
    padding: 0;
    background-image: linear-gradient(30deg, #400000, #600000, #400000);
    border: 2px solid #ddd;
}

.character h2 {
    margin: 0;
    padding: 5px 0;
    text-align: center;
}

.character h3 {
    margin: 0;
    padding: 10px 30px;
}

.character a .h3_button {
    width: 40%;
    margin: 25px auto;
    padding: 15px;
    background-image: radial-gradient(#600000, #ca0000);
    color: #ddd;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.character a .h3_button:hover {
    background-image: radial-gradient(#ca0000, #e00000);
    text-decoration: underline;
}

a {
    color: #ddd;
    text-decoration: underline;
}

a:hover {
    color: #ca0000;
}

#alignment_1, #alignment_2, #alignment_1 option, #alignment_2 option {
    background-color: #222;
    color: #ddd;
}

.ability_score_list {
    list-style: none;
}

.ability_score_list li {
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

.ability_score_list li select {
    width: 80%;
    margin: 5px 0 5px 15px;
    font-size: 150%;
    background-color: #222;
    color: #ddd;
    text-align: center;
}

.checkbox-set {
    border: 1px solid #ddd;
    padding: 5px
}

.checkbox-set h4 {
    margin: 0;
    padding: 5px 0;
    text-align: center;
    text-decoration: underline;
}

.skill-label-disabled {
    color: #666;
}

.skill-label-required {
    color: #4b4be7;
}

.center-text {
    width: 100%;
    margin: auto;
    text-align: center;
}